.photo-grid {
  max-width: 1184px;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: 1279px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: 1023px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    max-width: 767px;
  }
}
