.intro {
  max-width: 1280px;
  padding: 0 442px 0 148px;
  box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 1279px;
    padding-left: calc(48px + (148 - 48)*((100vw - 1024px)/(1279 - 1024)));
    padding-right: calc(286px + (442 - 286)*((100vw - 1024px)/(1279 - 1024)));
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 1023px;
    padding-left: calc(24px + (48 - 24)*((100vw - 768px)/(1023 - 768)));
    padding-right: calc(24px + (48 - 24)*((100vw - 768px)/(1023 - 768)));
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 767px;
    padding-left: calc(16px + (24 - 16)*((100vw - 320px)/(767 - 320)));
    padding-right: calc(16px + (24 - 16)*((100vw - 320px)/(767 - 320)));
  }
}
