.place__website {
  grid-area: place__website;
  padding: 0;
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .place__website {
    padding: 32px 0 32px 16px;
    align-self:flex-start;
  }
}
